.DS_Store
.maxcrc
bin/php*
config/.isolated-storage/
config/configstore/snyk.json
config/configstore/update-notifier-nodemon.json
config/configstore/update-notifier-npm.json
config/direnv
config/git/gitk
config/mycli/history
config/mycli/history
config/nvim
config/pgcli/history
config/pgcli/log
config/ranger/bookmarks
config/ranger/history
ipython/profile_default/db
ipython/profile_default/history.sqlite
vifm/vifminfo
vifm/vimfiles
vim/.backup/*
vim/.backup/*
vim/.netrwhist
vim/.spell/custom.en.utf-8.add.spl
vim/.temp/*
vim/.tmp/*
vim/.undo/*
vim/bundle/*
vim/init.vim
vim/sessions/*
vim/undo/*
vim/vim
vim/vundle_plugins/custom
